.toTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: black;
  border: none;
  z-index: 10;

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: #fff9d6;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: all 350ms ease-in-out;
    &:hover {
      color: #b92f2c;
      transform: scale(1.2) rotate(-360deg);
    }
  }
}
