.logolink {
  all: unset;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  align-items: center;
  gap: 1rem;
}

.svg {
  width: 3rem;
  height: 3rem;
  color: white;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  font-family: UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue,
    AppleSystem, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue, AppleSystem, BlinkMacSystemFont, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI emoji;

  animation: 1889.04ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms 1 normal both
    running title_animation;
}

@keyframes title_animation {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur();
    filter: blur();
    opacity: 1;
  }
}
