.backdrop {
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 13.9637ms,
    visibility 0s cubic-bezier(0.4, 0, 0.2, 1);
}

.modalContent {
  z-index: 101;
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  max-height: 80dvh;
  padding: 1rem 1.5rem;
  background-color: white;
  color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 60%), 0 4px 8px 3px rgb(0 0 0 / 30%);
  overflow: auto;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 13.9637ms,
    visibility 0s cubic-bezier(0.4, 0, 0.2, 1);

  font-family: UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue,
    AppleSystem, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue, AppleSystem, BlinkMacSystemFont, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI emoji;

  &::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 1);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: unset;
  }

  &::-webkit-scrollbar {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.title {
  text-align: center;
  margin-block: 1rem;
  font-family: none;
}

.img {
  margin-inline: 5px;
}

.infoSection {
  font-family: monospace;
  display: grid;
  gap: 0.5rem;
  margin-block: 0.5rem;
  background-color: #50505042;
  padding: 10px;
  border-radius: 8px;
}

.techStack {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-block: 0.5rem;
  margin-inline: auto;
}

.links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
