@mixin BtnStyle {
  cursor: pointer;
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
  border-radius: 25px;
  border: 1px solid rgb(129, 129, 129);
  color: rgb(129, 129, 129);
  text-align: center;
  transition: all 250ms ease-in-out;
  letter-spacing: 0.6px;
  font-size: 12px;
  &:hover {
    border-color: #ff1616;
    background-color: #ff1616;
    color: white;
  }
}
.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-block: 2rem;
  width: 100%;
}

.btn {
  @include BtnStyle();
}
