@mixin ArrowStyle {
  width: 2rem;
  height: 2rem;
  color: white;
}

@mixin btnStyle {
  width: 3rem;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(57, 21, 21, 1);
  border-radius: 15px;
  cursor: pointer;
  justify-self: baseline;
  &:hover {
    background: #b92f2c;
  }
}

.carouseldiv {
  margin: 5rem auto;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}

.carouselbtnleft {
  @include btnStyle();
  justify-self: baseline;
}
.carouselbtnright {
  @include btnStyle();
  justify-self: end;
}
.leftbutton {
  @include ArrowStyle;
}

.rightbutton {
  @include ArrowStyle;
}
.viewport {
  overflow: hidden;
  width: 100%;
}

.carousel {
  width: 100%;
  height: 20rem;
  display: flex;
  gap: 2rem;

  transition: all 500ms ease-in-out;
}

.img {
  height: 100%;
  width: 15rem;
  object-fit: contain;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(0.8);
  }
}
