.pageNumbers {
  width: 70%;
  margin-inline: auto;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.page {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: black;
  background: white;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: #b92f2c;
    color: white;

    transform: scale(1.2);
  }
}
