.searchdiv {
  display: grid;
  grid-template-columns: 10fr 2fr;
  place-content: center;
  background: white;
  border-radius: 15px;
  padding: 0.5rem;
}

.searchinput {
  all: unset;
  padding-inline: 0.5rem;
}

.searchbutton {
  cursor: pointer;
}
