.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block: 2rem;
  place-items: center;
  font-weight: 800;
  width: 100%;
}

.genre {
  color: #b92f2c;
  text-wrap: nowrap;
}
