.movie {
  cursor: pointer;
  display: grid;
  gap: 0.7rem;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0.5rem;
  border-radius: 10px;
  background: rgb(88 88 88 / 19%);
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.07);
    background-color: rgb(30 30 30 / 76%);
  }
}

.img {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.titlewriters {
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  font-size: 0.8rem;
}

.genreyear {
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
  color: red;
}
