.chart {
  display: block;
  margin: 0;
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.circle {
  stroke: rgba(185, 47, 44, 1);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
